<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<title>{%if page.title%}{{page.title}} | {%endif%}The Glitch Network</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="theme-color" content="#00CC00"/>
	<meta name="description" content="{{page.description}}"/>
	<meta property="og:title" content="{%if page.title%}{{page.title}} | {%endif%}The Glitch Network"/>
	<meta property="og:description" content="{{page.description}}"/>
	<meta property="og:image" content="https://avatars.githubusercontent.com/u/80862481"/>
	<meta property="og:site_name" content="The Glitch Network"/>
	<link type="application/json+oembed" href="https://the-glitch.network/oembed.json"/>
	{% if page.style %}
	<link rel="stylesheet" href="/assets/css/{{page.style}}.css"/>
	{% endif %}
	{% for style in page.styles %}
	<link rel="stylesheet" href="/assets/css/{{style}}.css"/>
	{% endfor %}
	{% for script in page.deferred %}
	<script src="{{script}}" defer></script>
	{% endfor %}
</head>
<body>
{% if page.url == "/" %}
<div itemscope itemtype="https://schema.org/WebSite" aria-hidden="true">
	<meta itemprop="url" content="https://the-glitch.network"/>
	<meta itemprop="name" content="The Glitch Network"/>
</div>
{% endif %}
{{content}}
</body>
</html>
